[user]
	email = sumranianas@hotmail.com
	name = anassumrani
# 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
# git remote set-url origin https://anassumrani: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@github.com/anassumrani/project2.git

git config --global user.email "sumranianas@hotmail.com"
git config --global user.name "anassumrani"

